* {
    margin: 0;
    padding: 0;
}

/* Header section styles */
header {
    font-family: 'Merriweather', serif;
}

.banner-section {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner\ Image.png');
    margin: 50px 110px;
    border-radius: 16px;

}

.banner-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

}

.banner-big-title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

    text-align: center;
    /* 131.944% */
}

.banner-section .banner-content-container {
    width: 600px;
    margin: auto;
    padding-top: 170px;

}

/* main section styles */
.off-section {
    font-family: 'Inter', sans-serif;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    text-align: center;


}

.off-title-one {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}

.off-title-two {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 16px;
}

.off-section-img-conteiner img {
    width: 802.9px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;

}

.secondary-banner {
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    display: flex;
    margin: 50px 110px;
    border-radius: 16px;


}

.secondary-banner-content {
    width: 697px;
    margin-top: 126px;
    margin-left: 126px;

}

.content-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
}

.content-description {
    color: rgba(247, 204, 204, 0.938);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    /* 166.667% */
}

.join-now {
    width: 140px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(207, 189, 189, 0.242);
    color: white;
    margin-top: 40px;
    border: none;
}

.secondary-banner-img img {
    width: 319.83px;
    height: 464.662px;
    margin-top: 70px;
    padding-left: 30px;


}

/* place section styles */
.place-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 50px 110px;
    width: 1320px;
    height: 482px;
}

.place-section-content .sp {
    color: #F00;

    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
}

.place-section-content .content {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.place-section-content .join {
    width: 140px;
    height: 50px;
    border-radius: 8px;
    background-color: #F00;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    display: block;
    margin: auto;

}

.place-section-content {
    padding-top: 100px;
}

#time {
    margin-bottom: 20px;
}

/* offer section styles */
.offer-section {
    display: flex;
    margin: 20px 110px 50px 110px;
    justify-content: center;
    align-items: center;
}

.offer-section-image {
    border: 10px solid red;
    display: inline-block;
    padding: 20px;
    border-radius: 100%;

}

.offer-section-left-content {
    width: 30%;
}

.offer-section-left-content .sub-heading {
    color: #F00;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-section-left-content .main-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.offer-section-right-content {
    width: 30%;
    margin-left: 70px;
}

.offer-section-right-content .right-main-heading {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#right-desc {
    margin-bottom: 30px;
}

/* holidays sale section styles */
.holiday-sale-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.holiday-sale-sub-heading {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-sale-main-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.holiday-sale-main-heading #hdays {
    color: #F00;
}

.holiday-sale-desc {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}