* {
    margin: 0;
    padding: 0;
}

/* Header section styles */
header {
    font-family: 'Merriweather', serif;
}

.banner-section {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner\ Image.png');
    margin: 50px 110px;
    border-radius: 16px;

}

.banner-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    
}

.banner-big-title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    
    text-align: center;
    /* 131.944% */
}
.banner-section .banner-content-container{
   width: 600px;
   margin: auto;
   padding-top: 170px;

}
/* main section styles */
